# OSX finder
.DS_Store

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/
*.out
*.vtk
*.pdf
*.png
*.avi
*.gif
*.pvd
*.vts
*.html
sintering/Sintering.m
sintering/Sintering.m
*.vtp
